build
install
log
MvSDKLog
logs
**.engine
**.onnx
**.sh
*.so
src/calibration/camera_calibration/assets/** 
.vscode
documents
records
**.pcd
**.mp4
**.avi
**.STL
**.ply

src/debug_toolbox/minimap/resource/images/zzzbuilding.png
src/debug_toolbox/minimap/resource/images/garage.jpg